<label>Curency Exchange Page</label>
<select id="from" class="form-control" (change)="onFromCurrencySelection($event)">
    <option *ngFor="let currency of currencies" [selected]="currency.from">{{currency.symbol}}</option>
</select>
To
<select id="to" class="form-control" (change)="onToCurrencySelection($event)">
    <option *ngFor="let currency of currencies" [selected]="currency.to">{{currency.symbol}}</option>
</select>
<input class="form-control" type="text" [attr.value]="toCurrencyAmount | number:'1.0-3'" disabled />
